<h1>Stupid coach</h1>
<div class="container">
  <div id="card">
    <div class="question">
      <%= @question %>
    </div>
    <div class="answer">
      <% if @question == @question.upcase %>
        <%= @answer.upcase %>
      <% else %>
        <%= @answer %>
      <% end %>
    </div>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
<%=link_to 'Ask a new question!', root_path %>
